<!DOCTYPE html>
<html lang="en-US">
<head>
    <% include ../partials/stylesheets %>
    <% include ../partials/scripts %>
</head>
<body ng-app="app" ng-controller="homePageController" data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">VSLAB</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#style">Style</a>
                    </li>
                    <li>
                        <a href="#stock">Stock</a>
                    </li>
                    <li>
                        <a href="#caption">Caption</a>
                    </li>
                    <li>
                        <a href="#distributed">Distributed</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="landing-screen" id="home">
        <img src="img/home_img.jpg">
        <h1>VSLAB ML RESULTS</h1>
        <p>Vineeth Yeevani, Anusha Mohan, Srividhya Shanker</p>
    </div>

    <div class="section" id="style">
        <h1>Neural Net Style Transfer</h1>

        <h2>Vineeth Yeevani</h2>

        <p>Lorem ipsum dolor sit amet, reque omnes doctus quo no, sed eius conceptam an. Sea id meis saepe, pri in salutandi neglegentur, delenit dolorem patrioque in nam. Quas sonet an mel. Harum consetetur nam in.

Tollit phaedrum vulputate ut nam, mel essent delenit lobortis id, idque splendide has ad. Quo et brute fugit mediocrem, mea solet quidam recusabo id. Eu vis sumo iracundia, omnium laoreet atomorum ad ius, iusto prompta ius an. Justo malorum ei duo, no per unum officiis, ius deserunt honestatis ut. Mazim fabellas vix ex.</p>

        <p>Lorem ipsum dolor sit amet, reque omnes doctus quo no, sed eius conceptam an. Sea id meis saepe, pri in salutandi neglegentur, delenit dolorem patrioque in nam. Quas sonet an mel. Harum consetetur nam in.

Tollit phaedrum vulputate ut nam, mel essent delenit lobortis id, idque splendide has ad. Quo et brute fugit mediocrem, mea solet quidam recusabo id. Eu vis sumo iracundia, omnium laoreet atomorum ad ius, iusto prompta ius an. Justo malorum ei duo, no per unum officiis, ius deserunt honestatis ut. Mazim fabellas vix ex.</p>
        <img id="style_img" src="www.github.com/vyeevani/VMWare/blob/master/style_transfer/img/results_golden_gate/_wc:1_ws:10.jpg">
    </div>
</body>
